.cardContent {
  flex-basis: 60%;
}

.cardContent h2 {
  margin-top: 0;
  margin-bottom: 0.5em;
  font-weight: normal;
}

.cardContent p {
  font-size: 95%;
}

.centeredButton {
  flex-basis: 10%;
  width: fit-content;
  height: fit-content;
  left: 50%;
  transform: translateX(-50%);
  bottom: 1rem;
  background-color: inherit;
}

/* Refactor background color */
.card {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  border: var(--text-color) 0.1rem dashed;
  text-align: center;
  margin-bottom: 2em;
  flex: 0 0 30%;
  background-color: #7c7c7c1f;
}

.card:nth-child(3) {
  justify-self: center;
}

@media screen and (min-width: 40em) {
  .card {
    flex: 0 1 calc(50% - 0.5em);
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 60em) {
  .card {
    flex: 0 1 calc(33% - 1em);
    margin-bottom: 2rem;
  }
}

.thumbnail {
  flex-basis: 10%;
  margin: 0.3rem;
}

.icon {
  color: var(--primary-color);
  height: 2rem;
}
