img {
  flex: 0 0 1.8em;
  font-size: 1.8em;
  margin: 0.1em;
}

.skill {
  display: flex;
  width: 100%;
  height: 5rem;
  justify-content: center;
}

.skillDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 5rem;
}

.skill:nth-child(3) {
  justify-self: center;
}

@media screen and (min-width: 40em) {
  .skill {
    flex: 0 1 calc(50% - 0.5em);
  }
}

@media screen and (min-width: 60em) {
  .skill {
    flex: 0 1 calc(33% - 1em);
  }
}

.proficiency1,
.proficiency2,
.proficiency3 {
  font-weight: 800;
  font-size: xx-small;
  padding: 0.1rem;
  padding-top: 0.2rem;
  border-radius: 0.1rem;
  width: fit-content;
  height: fit-content;
}

.proficiency1 {
  --pro-color: rgb(172, 86, 0);
  --pro-color-transludid: rgba(158, 97, 35, 0.2);
  color: var(--pro-color);
  background-color: var(--pro-color-transludid);
  border: var(--pro-color) 1px solid;
}

.proficiency2 {
  --pro-color: rgb(187, 187, 187);
  --pro-color-transludid: rgba(146, 146, 146, 0.2);
  color: var(--pro-color);
  background-color: var(--pro-color-transludid);
  border: var(--pro-color) 1px solid;
}

.proficiency3 {
  --pro-color: rgba(218, 165, 32, 1);
  --pro-color-translucid: rgba(218, 165, 32, 0.2);
  color: var(--pro-color);
  background-color: var(--pro-color-translucid);
  border: var(--pro-color) 1px solid;
}
