@import url("CSS/reset.css");
@import url("CSS/accessibility.css");
@import url("CSS/layout.css");
@import url("CSS/typography.css");
@import url("CSS/masthead.css");
@import url("CSS/nav-base.css");
@import url("CSS/nav-single-level.css");
@import url("CSS/nav-multi-level.css");
@import url("CSS/nav-mixed.css");
@import url("CSS/nav-social.css");
@import url("CSS/ant-anchor.css");

:root {
  --primary-color: #90ee90;
  --secondary-color: #2e8b57;
  --accent-color: #c76d29;
  --accent-color-hover: #ff7300;
  --background-color: #272138;
  --text-color: #e7e7e7;
}

html {
  background-color: var(--background-color);
  color: var(--text-color);
}

h1,
h2,
h3 {
  color: var(--primary-color);
}

p,
div,
label {
  color: var(--text-color);
}

@media screen and (min-width: 40em) {
  .main-area {
    flex: 1 1 auto;
    order: 1;
    height: 100vh;
  }
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: -1em;
  }
}

@media screen and (min-width: 60em) {
  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 110vh; /* for some reason, 100vh bugs Ant Anchor */
  }
  .cards {
    margin-top: inherit;
  }
}

.animated-icon {
  animation: bobbing 1.2s ease-in-out infinite alternate;
  scroll-behavior: smooth;
}

@keyframes bobbing {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-0.25em);
  }
}

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

@media screen and (max-width: 600px) {
  .btn-container {
    flex-wrap: wrap;
  }
}

.largeIcon {
  font-size: 2rem;
  margin: 0.5rem;
}

.socials-container {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
}

.socials-container a {
  color: var(--text-color);
  text-decoration: none;
  transition: all 300ms ease;
}

.socials-container a:hover {
  color: var(--primary-color);
}
